{% extends 'webApp/base.html' %}

{% block title %}Daily quotes page{% endblock%}

    {% block content %}
    <meta charset="UTF-8">
    <title>News</title>

<div class="card-body bg-white">
    <h5 class="card-title">Ukraine News</h5>
    <p class="card-text">The number of officially confirmed COVID-19 cases in Ukraine has reached 1,668 as of 9.00 a.m.
        on April 8, according to the Ukrainian Ministry of Health.
        Fifty-two people have died from the disease, an increase of seven since the previous report on April 7. In all,
        35 people have recovered since the beginning of the outbreak in Ukraine.</p>
    <a href="#" class="btn btn-primary">Read More</a>
  </div>
<div class="card-body bg-white">
    <h5 class="card-title">World News</h5>
    <p class="card-text-">The coronavirus crisis is having a devastating effect on employment worldwide,
        with more than one billion workers at risk of a pay cut or losing their jobs, according to the
        International Labour Organization.</p>
    <a href="#" class="btn btn-primary">Read More</a>
  </div>
<div class="card-body bg-white">
    <h5 class="card-title">World News</h5>
    <p class="card-text">As New York City faced one of its darkest days with the death toll from the coronavirus
        surging past 4,000 — more than the number killed on 9/11 — the Chinese city where the global pandemic began
        lifted its final restrictions on movement Wednesday as deaths there plummeted.</p>
    <a href="#" class="btn btn-primary">Read more</a>
  </div>

        {% endblock %}
